/* banner */

.banner {
    overflow: hidden;
    position: relative;
    width: 1519px;
    height: 712px;
    background-color: #ff6600;
}

.banner-m,
.banner-rect,
.banner-women,
.banner-on,
.banner-collect,
.banner-shop {
    opacity: 0;
    position: absolute;
}

.banner-m {
    top: 197px;
    left: 344px;
    width: 409px;
}

.banner-rect {
    top: 102px;
    left: 771px;
    width: 475px;
}

.banner-women {
    top: -65px;
    left: 380px;
    width: 709px;
}

.banner-on {
    top: 368px;
    left: 872px;
    width: 319px;
}

.banner-collect {
    top: 475px;
    left: 304px;
    color: #fff;
    font-size: 49px;
    font-style: italic;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}

.banner-shop {
    display: block;
    top: 543px;
    left: 305px;
    padding: 0 32px;
    width: 28px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    border: 2px solid #fff;
}

.banner-shop:hover {
    background-color: #fff;
}

.banner-arrow-l,
.banner-arrow-r {
    opacity: 0;
    display: block;
    position: absolute;
    top: 336px;
    width: 40px;
    height: 40px;
}

.banner-arrow-l {
    left: 122px;
    background: url(../assets/large_left.png);
}

.banner-arrow-r {
    right: 122px;
    background: url(../assets/large_right.png);
}


/* two-column-promo */

.two-column-promo {
    position: relative;
    margin-bottom: 112px;
    height: 327px;
}

.column-left,
.column-right {
    position: absolute;
    top: -63px;
    left: 50%;
    width: 570px;
    height: 390px;
    transition: all .5s;
}

.column-left {
    margin-left: -585px;
}

.column-active {
    top: -78px;
    box-shadow: 0 10px 20px #000;
    transition: all .5s;
    z-index: 9;
}

.column-left h1,
.column-right h1 {
    position: absolute;
    top: 44px;
    color: #fff;
    font-size: 51px;
}

.column-left h1 {
    left: 38px;
}

.column-right h1 {
    right: 38px;
}

.column-left .links,
.column-right .links {
    position: absolute;
    top: 338px;
    left: 37px;
    font-weight: 700;
}

.column-left .links a,
.column-right .links a {
    margin-right: 15px;
}

.column-left .links a::after,
.column-right .links a::after {
    content: "\e903";
    margin-left: 5px;
    font-family: "moon";
}

.column-left .lines .line-top,
.column-right .lines .line-top {
    position: absolute;
    top: 10%;
    height: 7px;
    background-color: #fff;
}

.column-left .lines .line-top {
    right: 6%;
}

.column-right .lines .line-top {
    left: 6%;
}

.column-left .lines .line-v-short,
.column-right .lines .line-v-short {
    position: absolute;
    bottom: 22%;
    width: 7px;
    background-color: #fff;
}

.column-left .lines .line-v-short {
    left: 6.7%;
}

.column-right .lines .line-v-short {
    right: 6.7%;
}

.column-left .lines .line-v-long,
.column-right .lines .line-v-long {
    position: absolute;
    bottom: 22%;
    width: 7px;
    background-color: #fff;
}

.column-left .lines .line-v-long {
    right: 6%;
}

.column-right .lines .line-v-long {
    left: 6%;
}

.column-left .lines .line-bottom,
.column-right .lines .line-bottom {
    position: absolute;
    bottom: 22%;
    height: 7px;
    background-color: #fff;
}

.column-left .lines .line-bottom {
    right: 6%;
}

.column-right .lines .line-bottom {
    left: 6%;
}


/* tab栏 */

.tab-prod {
    text-align: center;
    margin-bottom: 112px;
}

.tab-prod a {
    color: #9b9b9c;
    font-size: 28px;
    font-weight: 700;
}

.tab-prod span {
    display: inline-block;
    margin: 7px 20px;
    width: 30px;
    height: 4px;
    background-color: #e2214b;
    border-radius: 2px;
}

.tab-prod .prod-active {
    color: #272727;
}

.tab-item {
    position: relative;
    margin-top: 30px;
    height: 519px;
}

.item-new,
.item-cx,
.item-hot {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    width: 1140px;
    height: 519px;
}

.item-cx {
    display: none;
}

.item-hot {
    display: none;
}

.item-new ul,
.item-cx ul,
.item-hot ul {
    position: absolute;
    left: -1172px;
    width: 99999px;
}

.item-new li,
.item-cx li,
.item-hot li {
    float: left;
    margin-right: 30px;
}

.item-new li img,
.item-cx li img,
.item-hot li img {
    width: 263px;
    height: 271px;
    vertical-align: bottom;
}

.item-content {
    padding: 16px 17px 13px;
    width: 229px;
    background: #FFFFFF;
}

.item-content .top h3 {
    float: left;
    line-height: 23px;
}

.item-content .top h3 a {
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    transition: all .5s;
}

.item-content .top h3 a:hover {
    color: #e2214b;
    transition: all .5s;
}

.item-content .top .price {
    display: block;
    color: #272727;
    line-height: 23px;
    font-size: 18px;
    font-weight: bold;
}

.item-content .bottom .pro-cat {
    display: block;
    color: #9b9b9c;
    line-height: 23px;
    letter-spacing: .4px;
    font-size: 14px;
    font-weight: bold;
    transition: all .5s;
}

.item-content .bottom .pro-cat:hover {
    color: #e2214b;
    transition: all .5s;
}

.item-content .bottom .star {
    color: #9b9b9c;
}

.item-content .bottom .star.active {
    color: #eabe12;
}

.mo-star:before {
    content: "\e91f";
    font-size: 12px;
    font-family: 'moon';
}

.tab-arrow-l,
.tab-arrow-r {
    font-family: 'moon';
    position: absolute;
    top: 156px;
    color: #9b9b9c;
    font-size: 31px;
    cursor: pointer;
}

.tab-arrow-l {
    left: -50px;
}

.tab-arrow-r {
    right: -50px;
}


/* recommend */

.recommend {
    margin-bottom: 112px;
}

.recommend-left {
    width: 780px;
}

.recommend-left .item1,
.recommend-left .item2 {
    position: relative;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: all .5s;
}

.item1 img,
.item2 img {
    width: 360px;
    vertical-align: bottom;
}

.item1 .offer-brief-1 {
    position: absolute;
    left: 25px;
    bottom: 20px;
}

.item1 .offer-brief-1 h1 {
    margin-bottom: 5px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.item1 .offer-brief-1 p {
    color: #fff;
    line-height: 20px;
    font-size: 14px
}

.recommend-left .offer-brief-2 {
    position: absolute;
    top: 22px;
    bottom: 26px;
    left: 30px;
    right: 30px;
    text-align: center;
}

.recommend-left .offer-brief-2 a {
    display: inline-block;
    margin-top: 55px;
    padding: 0 20px;
    color: #fff;
    line-height: 30px;
    letter-spacing: -0.35px;
    border: 2px solid #fff;
    transition: all .5s;
}

.recommend-left .offer-brief-2 h1 {
    margin-bottom: 12px;
    color: #fff;
    line-height: 77px;
    font-size: 77px;
    font-family: "Libre Baskerville", serif;
}

.recommend-left .offer-brief-2 p {
    padding: 0 10px;
    color: #ffffff;
    font-weight: 300;
}

.recommend-left .offer-brief-2 a:hover,
.recommend-left .offer-brief-3 a:hover {
    background: #fff;
    color: #e2214b;
    transition: all .5s;
}

.recommend-left .item3 {
    position: relative;
    float: left;
    transition: all .5s;
}

.recommend-left .item3 img {
    width: 750px;
    vertical-align: bottom;
}

.recommend-left .offer-brief-3 {
    position: absolute;
    bottom: 35px;
    left: 26px;
}

.recommend-left .offer-brief-3 h2 {
    line-height: 36px;
    letter-spacing: 6px;
    font-size: 18px;
    font-weight: bold;
}

.recommend-left .offer-brief-3 h1 {
    line-height: 36px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.recommend-left .offer-brief-3 a {
    display: inline-block;
    margin-top: 38px;
    padding: 0 28px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    border: 2px solid #fff;
    transition: all .5s;
}

.recommend-right {
    position: relative;
    transition: all .5s;
}

.recommend-right img {
    width: 360px;
    vertical-align: bottom;
}

.recommend-right .offer-brief-4 {
    left: 45px;
    position: absolute;
    right: 50px;
    top: 36px;
}

.recommend-right .offer-brief-4 .offer-label {
    display: inline-block;
    position: static;
    margin-bottom: 18px;
    padding: 0 9px;
    color: #fff;
    height: 23px;
    line-height: 21px;
    font-size: 12px;
    font-weight: bold;
    background: #E2214B;
    border-radius: 2px;
}

.recommend-right .offer-brief-4 h1 {
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 16px;
}

.recommend-right .offer-brief-4 p {
    color: #9b9b9c;
    font-weight: 300;
}

.recommend-right .offer-brief-4 a {
    display: inline-block;
    margin-top: 14px;
    color: #272727;
    line-height: 30px;
    padding: 0 9px;
    font-size: 14px;
    text-transform: uppercase;
    border: 2px solid #272727;
    transition: all .5s;
}

.recommend-right .offer-brief-4 a:hover {
    background: #272727;
    color: #fff;
    transition: all .5s;
}

.recommend-active {
    margin-top: -20px;
    box-shadow: 0 10px 20px #000;
    transition: all .5s;
    z-index: 9;
}


/* sale banner */

.sale-banner {
    position: relative;
    height: 372px;
    text-align: center;
}

.sale-banner-1 {
    position: absolute;
    left: 50%;
    margin-left: -759px;
}

.sale-banner-2 {
    position: absolute;
    left: 50%;
}

.banner-image img {
    width: 759px;
}

.sale-banner .banner-brief {
    position: absolute;
    top: 0;
    left: 50%;
    padding-top: 42px;
    width: 500px;
    transform: translateX(-50%);
}

.banner-brief-1 .banner-label {
    display: inline-block;
    margin-bottom: 15px;
    padding: 0 5px 2px 10px;
    line-height: 21px;
    color: #c7444a;
    background: #fff none repeat scroll 0 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 2px;
}

.sale-banner-1 .banner-brief .banner-label {
    display: inline-block;
    margin-bottom: 15px;
    padding: 0 5px 2px 10px;
    color: #c7444a;
    border-radius: 2px;
    letter-spacing: 5px;
    line-height: 21px;
    font-size: 14px;
    background: #fff;
}

.sale-banner-1 .banner-brief h2 {
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
}

.sale-banner-1 .banner-brief h1 {
    margin-bottom: 20px;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 72px;
    font-style: italic;
    font-weight: 700;
    line-height: 90px;
}

.sale-banner-1 .banner-brief p {
    color: #fff;
    font-weight: 300;
    margin-bottom: 25px;
    padding: 0 15px;
    font-family: 'Montserrat';
}

.sale-banner-2 .banner-brief h3 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 15px;
}

.sale-banner-2 .banner-brief h1 {
    margin-bottom: 22px;
    color: #ffffff;
    font-size: 72px;
    font-weight: bold;
    line-height: 60px;
}

.sale-banner-2 .banner-brief p {
    color: #fff;
    font-weight: 300;
    margin-bottom: 25px;
    padding: 0 15px;
    font-family: 'Montserrat';
}


/* top-product */

.top-product {
    margin-top: 108px;
    text-align: center;
}

.top-hot {
    display: block;
    margin-bottom: 50px;
    color: #272727;
    font-size: 28px;
    font-weight: 700;
}

.top-item {
    overflow: hidden;
}

.top-item ul {
    width: 2000px;
}

.top-item ul li {
    float: left;
    margin-right: 30px;
}

.top-item li img {
    width: 263px;
    vertical-align: bottom;
}

.top-product .top-item a:hover {
    color: #e2214b;
}

.top-more {
    margin-top: 129px;
    margin-bottom: 112px;
    width: 1140px;
    height: 60px;
    line-height: 60px;
    color: #e2214b;
    font-size: 24px;
    background-color: #fff;
}

.top-more i {
    font-family: 'moon';
}


/* blog */

.blog-title {
    margin-bottom: 50px;
    text-align: center;
}

.blog-list li {
    float: left;
    width: 570px;
}

.blog-title h2 {
    padding-bottom: 10px;
    color: #212121;
    font-size: 28px;
    font-weight: bold;
    line-height: 18px;
}

.blog-list {
    position: relative;
}

.blog-list .blog-wrapper {
    overflow: hidden;
    position: relative;
    height: 260px;
}

.blog-list ul {
    position: absolute;
    left: -1140px;
    width: 99999px;
}

.blog-list .tab-arrow-l,
.blog-list .tab-arrow-r {
    display: block;
    margin-top: -40px;
}

.blog-list .blog-image img {
    float: left;
    width: 263px;
}

.blog-item .blog-content {
    float: right;
    padding: 0 15px;
    width: 262px;
    font-family: 'Montserrat';
}

.blog-item .blog-content .blog-date {
    display: block;
    margin-bottom: 12px;
    color: #9b9b9c;
    font-size: 12px;
    line-height: 12px;
}

.blog-item .blog-content h2 {
    margin-bottom: 24px;
    line-height: 34px;
    font-weight: 700;
}

.blog-item .blog-content h2 a {
    color: #212121;
    font-size: 28px;
    transition: all .5s;
}

.blog-item .blog-content h2 a:hover {
    color: #e2214b;
    transition: all .5s;
}

.blog-item .blog-content p {
    color: #6f6f6f;
    font-weight: 300;
}

.blog-item .blog-content .blog-author,
span {
    color: #9b9b9c;
    display: inline-block;
    font-size: 14px;
}

.blog-item .blog-content .blog-author {
    margin-top: 25px;
    margin-left: 5px;
    font-weight: 700;
}